<div class="jumbotron text-center">
  <h1 class="display-3">Ragas</h1>
  <p>
    If we wait for the moment when everything, absolutely
everything is ready, we shall never begin
  </p >
  <a href="/ideas/add" class="btn btn-large btn-secondary">New Ideas?</a>
</div>