<div class="row">
  <div class="col-md-6 mx-auto">
    <div class="card card-body mt-5">
      <img src="/img/logo.png" class="logo">
      <h3 class="text-center">Register</h3>
      <form action="/users/register" method="POST">
         <div class="form-group">
          <label for="name">Name</label>
          <input type="text" class="form-control" name="name" value="{{name}}" required> 
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" class="form-control" value="{{email}}"  name="email" required> 
        </div>
          <div class="form-group">
          <label for="password1">Password</label>
          <input type="password" class="form-control" name="password1" value="{{password1}}" required> 
        </div>
         <div class="form-group">
          <label for="password2">Conferm Password</label>
          <input type="password" class="form-control" name="password2" value="{{password2}}" required> 
        </div>
        <button type="submit" class="btn btn-primary btn-block mt-4">Register</button>
      </form>
    </div>
  </div>
</div>